/* Register.css */

.container {
  width: 100%;
  margin: 0 auto;
padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  
  margin-bottom: 50px;
  width: 50%;

}


fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: auto;
}

legend {
  font-weight: bold;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/* Personaliza los estilos según tus preferencias */